/* People Card */
body {
    font-family: "Helvetica Neue";
    font-size: 18px;
}

.card-wrapper {
    margin: 30px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    max-width: 250px;
    border: 1px solid rgb(249,249,249);
    transition: all .3s;

    a.close-icon {
        position: absolute;
        right: 15px;
        top: 15px;
        display: none;
        color: #fff;
        text-decoration: none;
    }

    .person {
        margin-top: -60px;

        img {
            margin-bottom: 15px;
            border-radius: 100px;
        }

        .name {
            font-size: 22px;
        }

        .gender {
            margin: 15px 0 45px;
        }

        a.connect {
            padding: 8px 30px;
            text-decoration: none;
            color: rgb(14,77,134);
            border: 1px solid rgb(14,77,134);
            border-radius: 4px;
        }
    }
}

.card-wrapper:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    a.close-icon {
        display: inline-block;
    }
}